:root{
    --primary: #2097d8;
    --primary-ligth: #20b6d8;
    --secondary: #20d7d8;
    --secondary-ligth: #7ce8e5;
    --light: #beefed;
}

html{
    font-size: 16px;
    font-family: 'Rubik', sans-serif; 
    margin: 0;
    padding: 0;
}

.body{
    background: #a8c0ff;  
    background: -webkit-linear-gradient(to right, var(--primary), var(--secondary));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--primary), var(--secondary)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    
}

.container{
    align-self: center;
    max-width: 90%;
    margin: 25px;
    margin-bottom: 15px; */
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    box-shadow:  0px 0px 3px 1px black;
}

.nav{
    background-color: var(--primary);
    border-radius: 10px 10px 0px 0px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.nav__figure{
    margin-right: 0%;
    height: 50px;
    width: 50px;
}

.nav__image{
    max-width: 50px;
    max-height: 50px;
}

.nav__title{
    color: var(--light);
}

.container__main{
    background-color: var(--primary-ligth);
    background: -webkit-linear-gradient(to right, var(--primary-ligth), var(--secondary-ligth));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--primary-ligth), var(--secondary-ligth)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.card{
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
    margin-left: 45px;
    height: auto;
    width: 400px;
}

.card__header{
    align-items: center;
    background-color: var(--light);
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.card__header__figure{
    height: 50px;
    margin-right: 3px;
    width: 50px;
}

.card__header__image{
    height: 50px;
    width: 50px;
}

.card__body{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 15px;

}

.card__body_figure{
    height: auto;
    width: 400px;
}

.card__body__image{
    height: auto;
    width: 400px;
}

.card__features{
    align-items: center;
    background-color: var(--light);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin-bottom: 10px;
    margin-left: 25px;
    margin-top: 10px;
    width: 85%;
}

.card__type{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 20px;
}

.card__type__concept{
    display: block;
    text-align: center;
}

.card__type__value{
    display: block;
    font-weight: bold;
    text-align: center;
}

.footer{
    align-items: center;
    background-color: var(--light);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    width: auto; 
}

.footer__title{
    /* margin-left: 10px; */
    align-self: center;
}

.footer__card{
    display: flex;
    margin-left: 2%;
}

.footer__card__figure{
    align-items: center; 
    align-content: center;
    background-color: var(--primary-ligth);
    border-radius: 20px;
    box-shadow:  1px 1px 2px 0px black;
    justify-content: center;
    height: 100px;
    width: 100px;
}

.footer__card__figure:hover{
    background-color: var(--primary);
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
}

.footer__card__image{
    height: auto;
    width: 70px;
    margin: auto;
    margin-top: 5px;
    display: block;
}


@media only screen and (max-width: 1440px) and (min-width: 1026px) {
    .footer__card{
        margin-left: 6%;
    }
}

@media only screen and (max-width: 1025px) and (min-width: 770px) {
    .card__features {
        margin-left: 5px;
    }
}

@media only screen and (max-width: 769px) and (min-width: 767px){
    .body{
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }

    .container{
        border-style: outset;
        min-width: auto;
    }

    .card{
        margin: 0;
        margin-left: 15px;
    }

    .card__header{
        width: 100%;
    }

    .card__body__image{
        width: 100%;
        height: auto;
    }

    .card__features{
        /* font-size: 10px; */
        margin: 0;
        margin-left: 10px;
        margin-right: 25px;
        min-width: 80%;
        height: 400px;
    }

    .footer{
        /* justify-content: space-around; */
        padding: 0%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .footer__title{
        margin-left: 12px;
    }

    .footer__card{
        margin: 0;
        margin-left: 0px;
    }

    .footer__card__figure{
        /* margin: 5%; */
        margin: 20px;
        margin-left: 25px;
        margin-right: 25px;
        width: 70px;
        height: 70px;
    }

    .footer__card__image{
        height: auto;
        margin-top: 13%;
        width: 40px;
    }
} 

@media only screen and (max-width: 767px) and (min-width: 5px) {
    .body{
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }

    .container{
        border-style: outset;
        min-width: auto;
    }

    .nav{
        justify-content: center;
    }

    .nav__figure{
        margin-left: 10%;
    }

    .container__main{
        display: block;
        grid-template-columns: 1fr;
        max-width: 100%;
        padding: 20px;
    }

    .card{
        width: 100%;
        margin: 0%;
        padding: 0%;
        
    }

    .card__header__figure{
        margin: 0%;
    }

    .card__header__image{
        width: 100%;
        height: auto;
    }

    .card__body__image{
        width: 100%;
        height: auto;
    }

    .card__features{
        margin-left: 0px;
        margin-top: -40px;
        min-width: 100%;
        height: 400px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .card__type{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: left;
        margin-left: 18%;
    }
    
    .card__type__concept{
        margin-left: 30%;
        text-align: left;
    }

    .card__type__value{
        text-align: left;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

    .footer__title{
        text-align: center;
    }

    .footer__card{
        flex-wrap: wrap;
        margin-left: 0;
    }

    .footer__card__figure{
        margin: 12.5%;
    }
}

@media only screen and (max-width: 425px) and (min-width: 5px) {
    .card__type__concept{
        margin-left: 20%;
    }
    .footer__card__figure{
        margin: 6.95%;
    }
}

@media only screen and (max-width: 375px) and (min-width: 5px) {
    .footer__card__figure{
        margin: 4.5%;
        height: 93px;
        width: 93px;
    }

    .footer__card__image{
        height: auto;
        margin-top: 13%;
        width: 60px;
    }
}

@media only screen and (max-width: 320px) and (min-width: 5px) {

    .card__features{
        font-size: 12px;
        height: 1%;
    }

    .card__type__concept{
        margin-left: 20%;
    }

    .card__type__value{
        margin-left: 20%;
    }

    .footer__card__figure{
        margin: 4.5%;
        height: 70px;
        width: 70px;
    }

    .footer__card__image{
        height: auto;
        margin-top: 13%;
        width: 40px;
    }
}